python==3.7
h5py==2.10.0
hyperopt==0.2.5
jupyter==1.0.0
matlabengineforpython==R2020a
matplotlib==3.3.4
numpy==1.19.5
pandas==1.1.1
pytables==3.6.1
scikit-image==0.18.1
scipy==1.5.2
seaborn==0.11.1
tensorflow-gpu==2.4.2
tqdm==4.59.0
